openapi: 3.1.0
info:
  title: Steak API Documentation
  description: Steak is a full-stack platform inspired by Steam and Epic Games, designed for buying,
    downloading, and managing licensed PC games. It supports both players and game publishers.
  version: 1.0.0
servers:
  - url: 'https://api.steak.io.vn/'
    description: Production server
  - url: 'http://localhost:8888/'
tags:
  - name: user-auth
    description: Liên quan đến các chức năng của người dùng
  - name: dev-auth
    description: Liên quan đến các chức năng auth nhà phát hành game
  - name: admin-auth
    description: Liên quan đến các chức năng auth của quản trị viên hệ thống
  - name: reviewer
    description: Liên quan đến các chức năng của reviewer game
  - name: publisher-upload
    description: Upload tài nguyên cho publisher
  - name: publisher-project
    description: Quản lý project game của publisher
  - name: user-library
    description: Quản lý thư viện game của người dùng
  - name: cart
    description: Quản lý giỏ hàng của người dùng
  - name: wishlist
    description: Quản lý wishlist của người dùng
  - name: store
    description: Các chức năng liên quan đến cửa hàng game
  - name: payment
    description: Các chức năng liên quan đến thanh toán game
  - name: dev-manager
    description: Quản lý các chức năng của nhà phát hành game
  - name: publisher-game-management
    description: Quản lý các chức năng liên quan đến game
paths:
  /api/v1/user/auth/register:
    post:
      tags:
        - user-auth
      summary: Gửi yêu cầu tạo tài khoản người dùng
      description: Gửi yêu cầu tạo tài khoản người dùng (kiểm tra thông tin và gửi email xác nhận)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml#/components/schemas/UserRegisterRequest"
      responses:
        200:
          description: Thông tin tài khoản hợp lệ, check mail để xác nhận tài khoản
        409:
          description: Thông tin tài khoản đã tồn tại trên hệ thống
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/Error"
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/Error"


  /api/v1/user/auth/username-login:
    post:
      tags:
        - user-auth
      summary: Đăng nhập tài khoản
      description: Đăng nhập vào tài khoản bằng username
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/UsernameLoginRequest"

      responses:
        200:
          description: Đăng nhập thành công, token và refreshToken được lưu vào cookie set full cờ
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/UserLoginResponse"
        default:
          description: Đăng nhập thất bại
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/user/auth/email-login:
    post:
      tags:
        - user-auth
      summary: Đăng nhập tài khoản
      description: Đăng nhập vào tài khoản bằng email
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/EmailLoginRequest"

      responses:
        200:
          description: Đăng nhập thành công, token và refreshToken được lưu vào cookie set full cờ
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/UserLoginResponse"
        default:
          description: Đăng nhập thất bại
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/dev/auth/register:
    post:
      tags:
        - dev-auth
      summary: Đăng ký nhà phát hành
      description: Đăng ký nhà phát hành
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/PublisherRegisterRequest"
      responses:
        200:
          description: Thông tin tài khoản hợp lệ, check mail để xác nhận tài khoản
        409:
          description: Thông tin tài khoản đã tồn tại trên hệ thống
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/Error"
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/Error"


  /api/v1/dev/auth/username-login:
    post:
      tags:
        - dev-auth
      summary: Đăng nhập tài khoản nhà phát hành
      description: Đăng nhập vào tài khoản
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/UsernameLoginRequest"
      responses:
        200:
          description: Đăng nhập thành công, token và refreshToken được lưu vào cookie set full cờ
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
                    example: publisher123
        default:
          description: Đăng nhập thất bại
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/dev/auth/email-login:
    post:
      tags:
        - dev-auth
      summary: Đăng nhập tài khoản nhà phát hành
      description: Đăng nhập vào tài khoản bằng email
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/EmailLoginRequest"
      responses:
        200:
          description: Đăng nhập thành công, token và refreshToken được lưu vào cookie set full cờ
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
                    example: publisher123
        default:
          description: Đăng nhập thất bại
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/dev/auth/logout:
    get:
      tags:
        - dev-auth
      summary: Đăng xuất tài khoản nhà phát hành
      description: Đăng xuất tài khoản nhà phát hành, xoá token và refreshToken khỏi cookie
      responses:
        200:
          description: Đăng xuất thành công, xoá cookie token và refreshToken
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"


  /api/v1/admin/auth/username-login:
    post:
      tags:
        - admin-auth
      summary: Đăng nhập vào tài khoản quản trị
      description: Đăng nhập vào tải khoản quản trị bằng username
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/UsernameLoginRequest"
      responses:
        200:
          description: Đăng nhập thành công, token và refreshToken được lưu vào cookie set full cờ
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
                    example: admin123
        default:
          description: Đăng nhập thất bại
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/admin/auth/email-login:
    post:
      tags:
        - admin-auth
      summary: Đăng nhập vào tài khoản quản trị
      description: Đăng nhập vào tải khoản quản trị bằng email
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/EmailLoginRequest"
      responses:
        200:
          description: Đăng nhập thành công, token và refreshToken được lưu vào cookie set full cờ
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
                    example: admin123@gmail.com
        default:
          description: Đăng nhập thất bại
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/Error"

  /api/v1/admin/auth/refresh:
    post:
      tags:
        - admin-auth
      summary: Làm mới token quản trị viên
      description: Làm mới token quản trị viên bằng refreshToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/RefreshTokenRequest"
      responses:
        200:
          description: Làm mới token thành công, trả về token mới
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: new_token_value
        default:
          description: Làm mới token thất bại
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"


  /api/v1/dev/upload/presigned-image-url:
    post:
      tags:
        - publisher-upload
      summary: Lấy URL để upload ảnh
      description: Lấy URL để upload ảnh cho game
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/ImageUploadPresignRequest"
      responses:
        200:
          description: Trả về URL để upload ảnh
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/ImageUploadPresignResponse"
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/dev/upload/presigned-image-urls:
    post:
      tags:
        - publisher-upload
      summary: Lấy URL để upload nhiều ảnh
      description: Lấy URL để upload nhiều ảnh cho game
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "./components.yaml/#/components/schemas/ImageUploadPresignRequest"
      responses:
        200:
          description: Trả về URL để upload ảnh
          content:
            application/json:
              schema:
                type: object
                properties:
                  urls:
                    type: array
                    items:
                      $ref: "./components.yaml/#/components/schemas/ImageUploadPresignResponse"
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/dev/upload/delete-image:
    delete:
      tags:
        - publisher-upload
      summary: Xoá ảnh đã upload
      description: Xoá ảnh đã upload trên S3
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/ImageDeleteRequest"
      responses:
        200:
          description: Xoá ảnh thành công
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/dev/upload/delete-images:
    delete:
      tags:
        - publisher-upload
      summary: Xoá nhiều ảnh đã upload
      description: Xoá nhiều ảnh đã upload trên S3
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "./components.yaml/#/components/schemas/ImageDeleteRequest"
      responses:
        200:
          description: Xoá ảnh thành công
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/dev/upload/presigned-part-game-url:
    post:
      tags:
        - publisher-upload
      summary: Lấy URL upload từng phần cho file game lớn
      description: Lấy presigned URL để upload từng phần của file game (multipart upload)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/GameUploadPresignedRequest"
      responses:
        200:
          description: Trả về thông tin presigned URL cho từng part
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/PresignedUrlResponse"
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/dev/upload/recreate-presigned-upload-url:
    post:
      tags:
        - publisher-upload
      summary: Tạo lại presigned URL upload cho file game
      description: Tạo lại presigned URL upload cho file game khi URL cũ hết hạn
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/RecreatePresignedUrlRequest"
      responses:
        200:
          description: Trả về presigned URL mới
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/PresignedUrlResponse"
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/dev/upload/complete-part-upload:
    post:
      tags:
        - publisher-upload
      summary: Hoàn thành upload multipart file game
      description: Thông báo đã upload xong các part, hoàn thành upload file game lớn
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/CompleteMultipartRequest"
      responses:
        200:
          description: Hoàn thành upload thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Upload completed successfully
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/dev/project/create:
    post:
      tags:
        - publisher-project
      summary: Tạo mới project game
      description: Tạo mới một project game cho publisher
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
      responses:
        200:
          description: Tạo project thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  projectId:
                    type: integer
                    example: 900000000000001
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/dev/project/update:
    post:
      tags:
        - publisher-project
      summary: Lưu nháp thông tin project game
      description: Lưu nháp thông tin project game (draft)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/SaveProjectRequest"
      responses:
        200:
          description: Lưu nháp thành công
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/dev/project/update-build:
    post:
      tags:
        - publisher-project
      summary: Cập nhật build cho project game
      description: Cập nhật build cho project game
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/UpdatePreBuildRequest"
      responses:
        200:
          description: Cập nhật build thành công
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/dev/project/submit:
    post:
      tags:
        - publisher-project
      summary: Gửi yêu cầu Đăng game lên hệ thống
      description: Đăng game lên hệ thống (publish)
      parameters:
        - name: projectId
          in: query
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Đăng game thành công
        400:
          description: Project ID không hợp lệ
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/dev/project/list:
    get:
      tags:
        - publisher-project
      summary: Lấy danh sách project game của publisher
      description: Lấy danh sách project game của publisher, có thể lọc theo trạng thái, từ khoá, phân trang
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: size
          in: query
          required: false
          schema:
            type: integer
            default: 20
        - name: keyword
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: Danh sách project game
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      type: object
        400:
          description: Tham số phân trang không hợp lệ
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/admin/review-game/list/need-review:
    get:
      tags:
        - reviewer
      summary: Lấy danh sách game chờ duyệt
      description: Lấy danh sách game đang ở trạng thái chờ duyệt (PENDING_REVIEW)
      parameters:
        - name: keyword
          in: query
          required: false
          schema:
            type: string
        - name: sort
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: size
          in: query
          required: false
          schema:
            type: integer
            default: 20
        - name: publisherId
          in: query
          required: false
          schema:
            type: integer
      responses:
        200:
          description: Danh sách game chờ duyệt
          content:
            application/json:
              schema:
                type: object
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/admin/review-game/list/rejected:
    get:
      tags:
        - reviewer
      summary: Lấy danh sách game bị từ chối
      description: Lấy danh sách game đã bị từ chối (REJECTED)
      parameters:
        - name: keyword
          in: query
          required: false
          schema:
            type: string
        - name: sort
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: size
          in: query
          required: false
          schema:
            type: integer
            default: 20
        - name: publisherId
          in: query
          required: false
          schema:
            type: integer
      responses:
        200:
          description: Danh sách game bị từ chối
          content:
            application/json:
              schema:
                type: object
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/admin/review-game/list/accepted:
    get:
      tags:
        - reviewer
      summary: Lấy danh sách game đã duyệt
      description: Lấy danh sách game đã được duyệt (ACCEPTED)
      parameters:
        - name: keyword
          in: query
          required: false
          schema:
            type: string
        - name: sort
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: size
          in: query
          required: false
          schema:
            type: integer
            default: 20
        - name: publisherId
          in: query
          required: false
          schema:
            type: integer
      responses:
        200:
          description: Danh sách game đã duyệt
          content:
            application/json:
              schema:
                type: object
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/admin/review-game/response-review:
    post:
      tags:
        - reviewer
      summary: Phản hồi review game
      description: Quản trị viên phản hồi kết quả review game (duyệt hoặc từ chối)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./components.yaml#/components/schemas/ReviewerReviewReplyRequest"
      responses:
        200:
          description: Phản hồi review thành công
          content:
            application/json:
              schema:
                type: object
        400:
          description: Yêu cầu không hợp lệ
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/Error"
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/Error"
  /api/v1/store/private/library/my-games:
    get:
      tags:
        - user-library
      description: Lấy danh sách game đã mua của người dùng
      responses:
        200:
          description: Danh sách game đã mua
  /api/v1/store/public/cart/add:
    post:
      tags:
        - cart
      summary: Thêm game vào giỏ hàng
      description: Thêm game vào giỏ hàng của người dùng
      parameters:
        - name: gameId
          in: query
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Thêm game vào giỏ hàng thành công
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/store/public/cart/remove:
    delete:
      tags:
        - cart
      summary: Xoá game khỏi giỏ hàng
      description: Xoá game khỏi giỏ hàng của người dùng
      parameters:
        - name: gameId
          in: query
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Xoá game khỏi giỏ hàng thành công
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/store/public/cart/me:
    get:
      tags:
        - cart
      summary: Lấy giỏ hàng của người dùng
      description: Lấy danh sách game trong giỏ hàng của người dùng
      responses:
        200:
          description: Danh sách game trong giỏ hàng
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/CartResponse"
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/store/public/cart/clear:
    delete:
      tags:
        - cart
      summary: Xoá toàn bộ giỏ hàng
      description: Xoá toàn bộ giỏ hàng của người dùng
      responses:
        200:
          description: Xoá giỏ hàng thành công
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/store/public/cart/move-to-wishlist:
    post:
      tags:
        - cart
      summary: Di chuyển game từ giỏ hàng sang wishlist
      description: Di chuyển game từ giỏ hàng sang wishlist của người dùng
      parameters:
        - name: gameId
          in: query
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Di chuyển game thành công
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/store/public/cart/merge:
    post:
      tags:
        - cart
      summary: Hợp nhất giỏ hàng từ các thiết bị khác
      description: Hợp nhất giỏ hàng từ các thiết bị khác của người dùng
      responses:
        200:
          description: Hợp nhất giỏ hàng thành công
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/store/private/wishlist/add:
    post:
      tags:
        - wishlist
      summary: Thêm game vào wishlist
      description: Thêm game vào wishlist của người dùng
      parameters:
        - name: gameId
          in: query
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Thêm game vào wishlist thành công
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/store/private/wishlist/remove:
    delete:
      tags:
        - wishlist
      summary: Xoá game khỏi wishlist
      description: Xoá game khỏi wishlist của người dùng
      parameters:
        - name: gameId
          in: query
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Xoá game khỏi wishlist thành công
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/store/private/wishlist/me:
    get:
      tags:
        - wishlist
      summary: Lấy wishlist của người dùng
      description: Lấy danh sách game trong wishlist của người dùng
      responses:
        200:
          description: Danh sách game trong wishlist
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/WishlistResponse"
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/store/private/wishlist/clear:
    delete:
      tags:
        - wishlist
      summary: Xoá toàn bộ wishlist
      description: Xoá toàn bộ wishlist của người dùng
      responses:
        200:
          description: Xoá wishlist thành công
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/store/private/wishlist/move-to-cart:
    post:
      tags:
        - wishlist
      summary: Di chuyển game từ wishlist sang giỏ hàng
      description: Di chuyển game từ wishlist sang giỏ hàng của người dùng
      parameters:
        - name: gameId
          in: query
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Di chuyển game thành công
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/store/public/games/list:
    get:
      tags:
        - store
      summary: Lấy danh sách game công khai
      description: Lấy danh sách game công khai trên cửa hàng, có thể lọc theo từ khoá, phân trang
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: integer
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 10
      responses:
        200:
          description: Danh sách game công khai
          content:
            application/json:
              schema:
                type: object
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/store/private/order/create:
    post:
      tags:
        - payment
      summary: Tạo đơn hàng thanh toán
      description: Tạo đơn hàng thanh toán cho game đã mua
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/CreateOrderRequest"
      responses:
        200:
          description: Tạo đơn hàng thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  paymentUrl:
                    type: string
                    example: sandbox.vnpayment.vn/paymentv2/vpcpay.html?...
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/store/public/games/details:
    get:
      tags:
        - store
      summary: Lấy chi tiết thông tin game
      description: Lấy chi tiết thông tin game theo ID
      parameters:
        - name: gameId
          in: query
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Thông tin game chi tiết
          content:
            application/json:
              schema:
                type: object
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"

  /api/v1/dev/manager/accounts:
    get:
      tags:
        - dev-manager
      summary: Lấy danh sách tài khoản nhà phát hành
      description: Lấy danh sách tài khoản nhà phát hành theo status
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [ ACTIVE, SUSPENDED, BANNED, DELETED ]
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: size
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        200:
          description: Danh sách tài khoản nhà phát hành
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      type: object
        400:
          description: Tham số phân trang không hợp lệ
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/dev/manager/accounts/search:
    get:
      tags:
        - dev-manager
      summary: Tìm kiếm tài khoản nhà phát hành
      description: Tìm kiếm tài khoản nhà phát hành theo từ khoá
      parameters:
        - name: keyword
          in: query
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [ ACTIVE, SUSPENDED, BANNED, DELETED ]
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: size
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        200:
          description: Danh sách tài khoản nhà phát hành tìm kiếm được
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      type: object
        400:
          description: Tham số phân trang không hợp lệ
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/dev/manager/permissions:
    get:
      tags:
        - dev-manager
      summary: Lấy danh sách quyền của nhà phát hành
      description: Lấy danh sách quyền của nhà phát hành để phân quyền cho tài khoản
      responses:
        200:
          description: Danh sách quyền của nhà phát hành
          content:
            application/json:
              schema:
                type: object
                properties:
                  permissions:
                    type: array
                    items:
                      type: string
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/dev/manager/custom-roles:
    get:
      tags:
        - dev-manager
      summary: Lấy danh sách vai trò tuỳ chỉnh của nhà phát hành
      description: Lấy danh sách vai trò tuỳ chỉnh đã tạo cho nhà phát hành
      responses:
        200:
          description: Danh sách vai trò tuỳ chỉnh
          content:
            application/json:
              schema:
                type: object
                properties:
                  roles:
                    type: array
                    items:
                      type: object
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/dev/manager/me:
    get:
      tags:
        - dev-manager
      summary: Lấy thông tin tài khoản nhà phát hành hiện tại
      description: Lấy thông tin tài khoản nhà phát hành đã đăng nhập
      responses:
        200:
          description: Thông tin tài khoản nhà phát hành
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
                    example: publisher123
                  email:
                    type: string
                    example:
  /api/v1/dev/manager/account:
    get:
      tags:
        - dev-manager
      summary: Lấy thông tin tài khoản nhà phát hành theo ID
      description: Lấy thông tin tài khoản nhà phát hành theo ID
      parameters:
        - name: accountId
          in: query
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Thông tin tài khoản nhà phát hành
          content:
            application/json:
              schema:
                type: object

  /api/v1/dev/manager/role:
    get:
      tags:
        - dev-manager
      summary: Lấy thông tin vai trò tuỳ chỉnh theo ID
      description: Lấy thông tin vai trò tuỳ chỉnh đã tạo cho nhà phát hành theo ID
      parameters:
        - name: roleId
          in: query
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Thông tin vai trò tuỳ chỉnh
          content:
            application/json:
              schema:
                type: object
  /api/v1/dev/manager/create-account:
    post:
      tags:
        - dev-manager
      summary: Tạo tài khoản nhà phát hành mới
      description: Tạo tài khoản nhà phát hành mới với các thông tin cơ bản
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/CreateAccountRequest"
      responses:
        200:
          description: Tạo tài khoản thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountId:
                    type: integer
                    example: 1234567890
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/dev/manager/delete-account:
    delete:
      tags:
        - dev-manager
      summary: Xoá tài khoản nhà phát hành
      description: Xoá tài khoản nhà phát hành theo ID
      parameters:
        - name: accountId
          in: query
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Xoá tài khoản thành công
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/dev/manager/role/create-role:
    post:
      tags:
        - dev-manager
      summary: Tạo vai trò tuỳ chỉnh mới
      description: Tạo vai trò tuỳ chỉnh mới với các quyền đã chọn
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/CreateRoleRequest"
      responses:
        200:
          description: Tạo vai trò thành công
          content:
            application/json:
              schema:
                type: object
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/dev/manager/role/update-role:
    post:
      tags:
        - dev-manager
      summary: Cập nhật vai trò tuỳ chỉnh
      description: Cập nhật thông tin vai trò tuỳ chỉnh đã tạo cho nhà phát hành
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/CreateRoleRequest"
      responses:
        200:
          description: Cập nhật vai trò thành công
          content:
            application/json:
              schema:
                type: object
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/dev/manager/role/change-status:
    post:
      tags:
        - dev-manager
      summary: Thay đổi trạng thái vai trò tuỳ chỉnh
      description: Thay đổi trạng thái (kích hoạt, vô hiệu hoá) của vai trò tuỳ chỉnh
      parameters:
        - name: roleId
          in: query
          required: true
          schema:
            type: integer
        - name: isActive
          in: query
          required: true
          schema:
            type: boolean
      responses:
        200:
          description: Thay đổi trạng thái thành công
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/dev/manager/role/detach-role:
    post:
      tags:
        - dev-manager
      summary: Tháo vai trò tuỳ chỉnh khỏi tài khoản
      description: Tháo vai trò tuỳ chỉnh khỏi tài khoản nhà phát hành
      parameters:
        - name: roleId
          in: query
          required: true
          schema:
            type: integer
        - name: accountId
          in: query
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Tháo vai trò thành công
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/dev/manager/role/assign-role:
    post:
      tags:
        - dev-manager
      summary: Gán vai trò tuỳ chỉnh cho tài khoản
      description: Gán vai trò tuỳ chỉnh cho tài khoản nhà phát hành
      parameters:
        - name: roleId
          in: query
          required: true
          schema:
            type: integer
        - name: accountId
          in: query
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Tháo vai trò thành công
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/store/public/games/download/{gameId}:
    get:
      tags:
        - store
      summary: Download game
      description: Download the game file by ID
      parameters:
        - name: gameId
          in: path
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Returns the game file for download
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/GameDownloadResponse"
        default:
          description: Other errors
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/dev/project/resubmit:
    post:
      tags:
        - publisher-project
      summary: Gửi lại yêu cầu đăng game đã bị từ chối
      description: Gửi lại yêu cầu đăng game đã bị từ chối trước đó
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/ResubmitProjectRequest"
      responses:
        200:
          description: Gửi lại yêu cầu thành công
        400:
          description: Project ID không hợp lệ hoặc không có quyền gửi lại
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/dev/game-management/list:
    get:
      tags:
        - publisher-game-management
      summary: Lấy danh sách game đã đăng của publisher
      description: Lấy danh sách game đã đăng của publisher, có thể lọc theo trạng thái
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: size
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        200:
          description: Danh sách game đã đăng của publisher
          content:
            application/json:
              schema:
                type: object
                properties:
                  games:
                    type: array
                    items:
                      type: object
        400:
          description: Tham số phân trang không hợp lệ
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/dev/game-management/update-game-details:
    post:
      tags:
        - publisher-game-management
      summary: Cập nhật thông tin chi tiết game
      description: Cập nhật thông tin chi tiết của game đã đăng
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/UpdateGameDetailsRequest"
      responses:
        200:
          description: Cập nhật thông tin game thành công
        400:
          description: Thông tin không hợp lệ hoặc không có quyền cập nhật
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/dev/game-management/update-game-status:
    post:
      tags:
        - publisher-game-management
      summary: Cập nhật trạng thái game
      description: Cập nhật trạng thái của game đã đăng ví dụ OPENING,CLOSED,RETIRED
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/UpdateGameStatusRequest"
      responses:
        200:
          description: Cập nhật trạng thái game thành công
        400:
          description: Thông tin không hợp lệ hoặc không có quyền cập nhật
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/dev/game-management/update-game-price:
    post:
      tags:
        - publisher-game-management
      summary: Cập nhật giá game
      description: Cập nhật giá của game đã đăng
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/UpdateGamePriceRequest"
      responses:
        200:
          description: Cập nhật giá game thành công
        400:
          description: Thông tin không hợp lệ hoặc không có quyền cập nhật
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/dev/game-management/create-new-version:
    post:
      tags:
        - publisher-game-management
      summary: Tạo phiên bản game mới
      description: Tạo phiên bản game mới cho game đã đăng
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/CreateNewVersionRequest"
      responses:
        200:
          description: Tạo phiên bản game mới thành công
        400:
          description: Thông tin không hợp lệ hoặc không có quyền tạo phiên bản mới
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/dev/game-management/update-draft-version:
    post:
      tags:
        - publisher-game-management
      summary: Cập nhật phiên bản nháp của game
      description: Cập nhật thông tin phiên bản nháp của game đã đăng
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components.yaml/#/components/schemas/UpdateDraftVersionRequest"
      responses:
        200:
          description: Cập nhật phiên bản nháp thành công
        400:
          description: Thông tin không hợp lệ hoặc không có quyền cập nhật
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"
  /api/v1/dev/game-management/delete-draft-version:
    delete:
      tags:
        - publisher-game-management
      summary: Xoá phiên bản nháp của game
      description: Xoá phiên bản nháp của game đã đăng
      parameters:
        - name: gameId
          in: query
          required: true
          schema:
            type: integer
        - name: versionId
          in: query
          required: true
          schema:
            type: integer
  /api/v1/dev/game-management/mark-as-latest-stable:
    post:
      tags:
        - publisher-game-management
      summary: Đánh dấu phiên bản là phiên bản mới nhất
      description: Đánh dấu phiên bản đã đăng là phiên bản mới nhất
      parameters:
        - name: gameId
          in: query
          required: true
          schema:
            type: integer
        - name: versionId
          in: query
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Đánh dấu phiên bản thành công
  /api/v1/dev/game-management/get-all-version:
    get:
      tags:
        - publisher-game-management
      summary: Lấy danh sách tất cả các phiên bản của game
      description: Lấy danh sách tất cả các phiên bản đã đăng của game
      parameters:
        - name: gameId
          in: query
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Danh sách các phiên bản của game
          content:
            application/json:
              schema:
                type: object
                properties:
                  versions:
                    type: array
                    items:
                      type: object
        default:
          description: Lỗi khác
          content:
            application/json:
              schema:
                $ref: "./components.yaml/#/components/schemas/Error"




